[defaults]
# Basic configuration
inventory = inventory
host_key_checking = False
retry_files_enabled = False
gathering = explicit

# Output configuration
stdout_callback = community.general.yaml
callbacks_enabled = profile_tasks, timer

# Python interpreter
interpreter_python = auto_silent

[inventory]
enable_plugins = ini, yaml

[privilege_escalation]
become = False

